html {
  height: 100%;
  width: 100%;
}

div.container {

  width: 550px;
  height: 250px;
  background-color: black;
  color: aliceblue;
  position: relative;
}

.item {

  animation-name: odliczanie;

  font-size: 120px;
  animation-duration: 1s;
  position: absolute;
  /* środkuję osie */
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  opacity: 0;
}

.item {
  /* border: 1px solid grey */
}

/* .ramkaDiv {
    border: 1px solid grey
} */
@keyframes odliczanie {

  0% {
    opacity: 0;
  }

  50% {
    opacity: 1;

  }

  100% {
    opacity: 0;

  }




}

.item_10 {
  animation-delay: 1s;
}

.item_9 {
  animation-delay: 2s;
}

.item_8 {
  animation-delay: 3s;
}

.item_7 {
  animation-delay: 4s;
}

.item_6 {
  animation-delay: 5s;
}

.item_5 {
  /* transform: scale(50%); */
  /* font-size: 20px; */
  animation-delay: 6s;
}

.item_4 {
  animation-delay: 7s;
}

.item_3 {
  animation-delay: 8s;
}

.item_2 {
  animation-delay: 9s;
}

.item_1 {
  animation-delay: 10s;
}

.item_0 {
  /* opacity: 1; */
  animation-delay: 11s;
  /*   width: 550px; */
  /* height: 100%; */
  /* text-align: center; */
  /* margin:auto; */
  /* background-position: center; */
  /* background-size: cover; */
  /* display: block; */
}

#obrazek {
  display: block;
  height: 250px;
}

.item_00 {
  font-size: 80px;
  /* transform: scale(50%); */
  animation-delay: 12s;
  /* font-size: 50px; */

}